/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.05.2014, 13:22:14
    Author     : kopychev
*/

.grp-select-label {
    width:300px;
}

.program-status-form input, select {
    margin:5px;
}

div.wrapper {
    padding-top:0px;
}

p.status-roles-set input.checkbox-inline {
    margin: 0px 4px 0px 4px!important;
} 
input[type="text"].captcha{
    margin-top:15px;
}

label {
    margin-left: 5px;
}
