/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.05.2014, 13:22:14
    Author     : kopychev
*/

.grp-select-label {
    width:300px;
}